<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <class name="ЗапускаторDDNS"    file="src/Классы/ЗапускаторDDNS.os"/>
    <class name="ОбновляторDDNS"    file="src/Классы/ОбновляторDDNS.os"/>
    <class name="ИнициализаторDDNS" file="src/Классы/ИнициализаторDDNS.os"/>
</package-def>